
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"  >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
<!--    <link type="text/css" th:href="@{/css/styles.css}" rel="stylesheet" />-->


</head>
<body>

<!-- Code block header starts -->
<div class="container mx-auto max-w-2xl">
<div class="my-6 lg:my-12 container px-6 mx-auto flex flex-col md:flex-row items-start md:items-center justify-between pb-4 border-b border-bl">
    <div>
        <h4 class="text-2xl font-bold leading-tight text-gray-800">Customer Registration</h4>

    </div>

</div>
</div>
<!-- Code block header end -->

<!-- Code block form start -->
<form class="container mx-auto px-4 py-5 max-w-2xl">
    <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-6 group">
            <input type="text" name="firstName" id="firstName" class="block py-2 px-1 w-full border-2 border-blue-900" placeholder="First Name "  required />
        </div>
        <div class="relative z-0 w-full mb-6 group">
            <input type="text" name="lastName" id="lastName" class="block py-2 px-1 w-full border-2 border-blue-900" placeholder="Last Name"  required />
        </div>
    </div>
    <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-6 group">
            <input type="text" name="email" id="email" class="block py-2 px-1 w-full border-2 border-blue-900" placeholder="Email "  required />
        </div>
        <div class="relative z-0 w-full mb-6 group">
            <input type="text" name="phone" id="phone" class="block py-2 px-1 w-full border-2 border-blue-900 tect" placeholder="Phone "  required />
        </div>
    </div>
    <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-6 group">
            <input type="text" name="zipcode" id="zipcode" class="block py-2 px-1 w-full border-2 border-blue-900" placeholder="Zip Code "  required />
        </div>
        <div class="relative z-0 w-full mb-6 group">
            <select name="country"  id="country" class="block py-2 px-2 w-full text-sm border-2 border-blue-900" placeholder="test" required >
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
            </select>
        </div>
    </div>
    <div class="relative z-0 w-full mb-6 group">
        <input type="text" name="address" id="address" class="block py-2 px-1 w-full border-2 border-blue-900" placeholder="Address"  required />
    </div>
    <button type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-xl px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 w-full">Submit</button>
</form>
<!-- Code block form end -->
</body>